/*gradient background animation*/

body{ 
    background: linear-gradient(-45deg, #a0bef8, #b5f0f0, #3378ff, #9442fe); 
    animation: gradient 5s ease infinite alternate;
    background-size: 400% 400%;
    height: 100vh;
    opacity: 1.0;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    /* 50%{
        background-position: 100% 50%;
    } */
    100%{
        background-position: 100% 50%;
    }
}

/* main */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    width: 1000px;
    flex-wrap: wrap;
}
.flip-card{
    background-color: transparent;
    width: 300px;
    height: 320px;
    perspective: 1000px;
    box-shadow: 0 0 60px #333;
    border-radius: 13px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.75s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}
.flip-card-front{

    background-color: #dafcfc;
}
.flip-card-front img{
    width: 220px;
    margin-top: 3rem;
}
.flip-card-back{

    background-color: #dafcfc;
    color: #333;
    transform: rotateY(180deg);
}
.flip-card-back img{
    width: 140px;
    margin-top: 2.5rem;
}
.flip-card-back h3{
    margin-bottom: 0.3rem;
    font-family: 'poppins', sans-serif;
    font-weight: 400px;
}
.flip-card-back h1{
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-weight: 300px;
}