body{
    background-color: #ccd2c6;
}
.container{
    position: absolute;
    width: 900px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #efefef;
    border-radius: 40px;
}
.background-rotate{
    width: 500px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    border-top-left-radius: 40px;
}
.bg-rotate{
    position: absolute;
    top: -64px;
    left: -130px;
    width: 500px;
    height: 500px;
    background-color: #8ba88e;
    border-radius: 30% 70% 30% 80% / 50% 35% 65% 50%;
    transform: rotate(0);
    z-index: -1;
    transition: 1s;
}
.menu{
    position: absolute;
    background-color: #efefef;
    border: 1px solid #323e45;
    border-radius: 15px;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}
.menu ul{
    padding: 0;
    margin: 0;
}
.menu li{
    list-style: none;
    display: inline-block;
    width: 50px;
    padding: 25px 10px;
    border-radius: 15px;
    text-align: center;
}
.menu li:nth-child(4){
    background-color: #3a4e51;
    color: #ccd2c6;
}
/* slide begin  */

.list{
    position: absolute;
    width: 100%;
    height: 600px;
}
.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.5s;
    opacity: 0;
}
.item .image,
.item .content{
    width: 50%;
}
.content table{
    width: 300px;
    position: absolute;
    top: 20%;
    right: 20px;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
    transition: 2s;
    opacity: 0;
    transform: translate(100%,0);
}
.content img{
    width: 50px;
}
.content table tr:nth-child(2n + 1) td{
    background-color: #ccd2c6;
}
/* item image */

.item .image .item-img{
    position: absolute;
    width: 550px;
    height: 550px;
    left: -250px;
    top: -50px;
    border-radius: 50%;
    transition: 2s ease-in-out;
    transform: rotate(-50deg);
}
.item .image .item-img:nth-child(3){
    transform: rotate(-100deg);
}
.item .image img{
    position: absolute;
    width: 140px;
    transition: 2s;
}
.item .image .item-img:nth-child(1) img{
    width: 140px;
    filter: blur(3px);
}
.item .image .item-img:nth-child(2) img{
    width: 170px;
    position: relative;
}
.item .image .item-img:nth-child(3) img{
    width: 100px;
    filter: blur(5px);
}
.item .image .item-img:nth-child(2)::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 50px;
    content: '';
    background-image: var(--background-rotate);
    background-size: 100% 100%;
    filter: blur(20px);
    transition: 1s;
    transition-delay: 1s;
    opacity: 0;
}
/* if item active */

.item.active{
    opacity: 1;
}
.item.active .content table{
    opacity: 1;
    transform: translate(0,0);
}
.item.active .image .item-img:nth-child(1){
    transform: rotate(120deg);
}
.item.active .image .item-img:nth-child(2){
    transform: rotate(170deg);
}
.item.active .image .item-img:nth-child(3){
    transform: rotate(200deg);
}
.item.active .image .item-img:nth-child(1) img{
    transform: rotate(-108deg);
}
.item.active .image .item-img:nth-child(2) img{
    transform: rotate(-188deg);
}
.item.active .image .item-img:nth-child(3) img{
    transform: rotate(-108deg) translate(-130px);
}
.item.active .image .item-img:nth-child(2)::before{
    opacity: 1;
}
/* if item hide */

.item.hide{
    transition-delay: 2s;
    opacity: 0;
}
.item.hide .image .item-img:nth-child(2)::before{
    opacity: 0;
    transition-delay: 0s!important;
}
.item.hide .image .item-img{
    transform: rotate(300deg)!important;
    filter: blur(10px);
}
.item.hide .content table{
    transform: translate(-100%);
    opacity: 0;
}